@media (max-width: 480px) {
    

.servises {
    padding-top: 30px;

    button {
      margin: 25px 10px;
      width: 150px;
      height: 300px;
      border: none;
      border-radius: 0;
      font-family: Roboto-light;
      font-size: 15px;
    }
  }
  .kodex{
    ul {
      margin-left: 0;
    }
  }
  .time{
    p{
      padding:0;
    }
  }
  .order {
    margin-top: 50px;
    .linegrey {
      width: 215px;
        
    }
    .lineblue {
       width: 70px;
      
    }
    button {
        width: 200px;
        height: 40px;
        font-size: 16.5px;

    }
  }
  .contacts{
    left:3%;
  }
}

@media (max-width: 768px) {

.servises {
    padding-top: 60px;

    button {
      margin: 30px 5px;
      width: 200px;
      height: 80px;
      border: none;
      border-radius: 0;
      font-family: Roboto-light;
      font-size: 15px;
    }
  }
  .kodex{
    ul {
      margin-left: 0;
    }
  }
  .time{
    p{
      padding:0;
    }
  }
  .order {
    margin-top: 150px;
    .linegrey {
      width: 250px;
        
    }
    .lineblue {
       width: 80px;
      
    }
    button {
        width: 200px;
        height: 40px;
        font-size: 14.5px;

    }
  }
  .contacts{
    left:3%;
  }
}

@media (max-width: 992px) {
    .servises {
    padding-top: 60px;

    button {
      margin: 55px 10px;
      width: 250px;
      height: 100px;
      border: none;
      border-radius: 0;
      font-family: Roboto-light;
      font-size: 20px;
    }
  }
  .kodex{
    ul {
      margin-left: 0;
    }
  }
  .time{
    p{
      padding:0;
    }
  }
  .order {
    margin-top: 150px;
    .linegrey {
      width: 315px;
        
    }
    .lineblue {
       width: 100px;
      
    }
    button {
        width: 200px;
        height: 40px;
        font-size: 16.5px;

    }
  }
  .contacts{
    left:3%;
  }
}


@media (max-width: 1200px) {
  .servises {
    padding-top: 80px;

    button {
      margin: 75px 15px;
      width: 400px;
      height: 113px;
      border: none;
      border-radius: 0;
      font-family: Roboto-light;
      font-size: 25px;
    }
  }
  .kodex{
    ul {
      margin-left: 0;
    }
  }
  .time{
    p{
      padding:0;
    }
  }
  .order {
    margin-top: 170px;
  }
  .contacts{
    left:3%;
  }
}