@media (max-width: 480px) {

}

@media (max-width: 1200px) {

.text{
  margin: 25px auto;
  padding: 14px 49px;
  width: 674px;
  height: 103px;
    h1 {
      font-size: 38px;
    }
}

.header{
  height: 635px;
  background-position-x: -100px;
}
.servises {
  padding-top: 80px;

    button {
      margin: 75px 15px;
      width: 400px;
      height: 113px;
      font-size: 25px;
    }
}
.kodex{
  ul {
    margin-left: 0;
  }
}
.time{
    p{
      padding:0;
    }
}

  .contacts{
    margin-left: -480px;
  }
}

@media (max-width: 992px) {
  .navbar-default {
    margin-left: 0;
    .navbar-nav {
      margin-left: 0;
    }

  }
  h3{
    font-size: 30px;
  }
  .header{
    background-position-x: -245px;
  }
  .nabrusko button {
    margin-top: 0;

  }
  .kodex {

    ul {
      padding: 0;
      li:before {

        margin-right: 10px;
      }
    }
  }
  .servises {
    height: 300px;
    padding-top: 20px;
    button {
      margin: 25px 0;
      width: 265px;
      height: 80px;
      font-size: 25px;
    }
  }
  .time {
    height: 340px;
    padding-top: 0;
  }
  .response {
    padding-top: 35px;
  }

  .res-stripe {
    height: 560px;
  }
  .contacts {
    margin-left: -373px;
  }
}


@media (max-width: 768px) {
  .header{
    height: 480px;
    background-position-x: -200px;
  }
  .text{
    margin: 0 auto;
    padding: 10px 4px;
    width: 320px;
    height: 70px;
    h1 {
      width: 280px;
      font-size: 18px;
    }
    h2{
      width: 180px;
      font-size: 12px;
    }
  }
  .nabrusko {

    .line {
      border-left: none;

    }
    .block::after {
      display: none;
    }
  }
  .servises {
    padding-top: 20px;
    button {
      margin: 25px 0;
      width: 200px;
      height: 50px;
      font-size: 18px;
    }
  }
  .res-stripe {
    height: 370px;
  }
  .footer {
    position: static;
  }
  .contacts{
    margin-left: 0;
    position: static;
  }
  .order{
    margin-bottom: 50px;
  }
}