@import "font";
.container-fluid {
    .header{
        text-align: center;
    margin-top: 20px;
    background: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 834px;
    .col-md-6 {
        li{
            display: inline; 
            margin-right: 5px; 
            border: 0px solid #000; 
            padding: 3px; 
        }
        ul {
            .line{
                border-bottom:  solid #263d74;
            }
        }
    
    }
    }
    .col-md-8 {
        
        margin: auto;
        background-color: #fff;
        height: 120px;
//        width: 730px;
    }
}
