@import "font";
.container-fluid {
    .header{
    text-align: center;
    padding-top: 20px;
    background: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    .col-md-6 {
        li{
            display: inline; 
            margin-right: 5px; 
            border: 0px solid #000; 
            padding: 3px; 
        }
        ul {
            .line{
                border-bottom:  solid #263d74;
            }
        }
    
    }
    }
    .col-md-8 {
        
        margin: auto;
        background-color: #fff;
        height: 120px;
        h1 {
            border-bottom: 1px solid #9a9999;
            
        }
    }
}
.nabrusko {
    margin-top: -40px;
    padding-top: 45px;
    background-color: #f6f6f6;
    height: 280px;
    border-bottom: 3px solid grey;
    .line {
            border-left: 1px solid #d4d3d3;
        }
//    .col-md-6 {
        
        
   .block::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    right: 50px; top: -40px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid green; /* Добавляем треугольник */
   }
        
            button {
            color: #fff;
            background-color: #313f72;
            width: 255px;
            height: 50px;
            
            
        }
//    }
}
.kodex {
    .col-md-6 {
     margin-top: 50px;   
    }
    h2{
        text-align: center;
        padding-bottom: 35px;
    }
    .linegrey {
        border-bottom: 1px solid #f3f3f3; 
        margin: 0 auto;
        text-align: center;
        width: 415px;
        height: 1px;
    }
    .lineblue {
        border-bottom: 1px solid blue; 
        margin: 0 auto;
        text-align: center;
        width: 121px;
        height: 4px;
    }
}
.servises {
    text-align: center;
    background-color:#313f72;
    height: 500px;
    padding-top: 100px;
    .linegrey {
        border-bottom: 1px solid #f3f3f3; 
        margin: 0 auto;
        text-align: center;
        width: 415px;
        height: 1px;
    }
    .lineblue {
        border-bottom: 1px solid blue; 
        margin: 0 auto;
        text-align: center;
        width: 121px;
        height: 4px;
    }
    button {
        width: 545px;
        height: 113px;
        margin: 75px 15px;
        background-color: #d3d6e1;
    }
}

.time {
    h5 {
        text-align: left;
        padding: 50px;
    }
    text-align: center;
    background-color:#fff;
    height: 500px;
    padding-top: 100px;
    .linegrey {
        border-bottom: 1px solid #f3f3f3; 
        margin: 0 auto;
        text-align: center;
        width: 415px;
        height: 1px;
    }
    .lineblue {
        border-bottom: 1px solid blue; 
        margin: 0 auto;
        text-align: center;
        width: 121px;
        height: 4px;
    }
    button {
        width: 260px;
        height: 50px;
        margin: 75px 15px;
        background-color: #313f72; 
    }
}

.response {
    text-align: center;
    background-color:#f6f6f6;
    height: 655px;
    padding-top: 100px;
    
    img {
        margin-top: 280px;
    }
    .linegrey {
        border-bottom: 1px solid #f3f3f3; 
        margin: 0 auto;
        text-align: center;
        width: 415px;
        height: 1px;
    }
    .lineblue {
        border-bottom: 1px solid blue; 
        margin: 0 auto;
        text-align: center;
        width: 121px;
        height: 4px;
    }
   
}

.order {
    h5 {
        text-align: left;
        padding: 50px;
    }
    text-align: center;
    background-color:#fff;
    height: 500px;
    padding-top: 100px;
    .linegrey {
        border-bottom: 1px solid #f3f3f3; 
        margin: 0 auto;
        text-align: center;
        width: 415px;
        height: 1px;
    }
    .lineblue {
        border-bottom: 1px solid blue; 
        margin: 0 auto;
        text-align: center;
        width: 121px;
        height: 4px;
    }
    button {
        width: 260px;
        height: 50px;
        margin: 75px 15px;
        background-color: #313f72; 
    }
}

.contacts {
    height: 185px;
    background-color:#263d74;
    display: block;
    margin-top: 300px;
    position: relative;
    z-index: 2;
    p {
        text-align: center;
        color: #fff;
    }
    
}
.map {
    img {
        position: relative;
        z-index: 1;
    }
}
.futer {
    background-color:#232323;
    height: 35px;
    text-align: center;
}